<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /io2
RewriteRule ^io2/index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /io2/index.html [L]
</IfModule>